.contact {

	img {
		width: 100%;
	}

	h1 {
		padding-top: 50px;
		text-decoration: underline;
		font-size: 3em;
	}

	p {
		padding-top: 25px;
		line-height: 30px;
	}

	.box-header {
		padding-left: 25px;
	}

	.box-info {
		padding-left: 25px;
	}
}

@media(min-width: $md + 100px) {
	.contact {
		display: grid;
		grid-template-columns: 2fr 1fr;


		.box-header {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;

			padding-left: 0;
		}

		.box-info {
			max-width: 80%;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;

			padding-left: 0;
		}
		
		.box-form {
			grid-column-start: 2;
			grid-column-end: 4;
		}
	}
}