// product
.product {
	transition: all 0.1s linear;
	max-width: 90%;
	margin: 0 auto;
	padding: 10px;

	img {
		@include undraggable-img;
		width: 100%;
	}

	.name {
		float: left;
	}

	.price {
		float: right;
	}

	&:hover {
        @include product-hover;
        cursor: pointer;
    }
}

// small screen size
@media(min-width: $md-pre) {
	// grid
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;
	}	
}

// medium screen size
@media(min-width: $lg-pre) {
	// grid
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 50px;
	}	
}